.container {
    @apply w-screen h-screen min-h-screen m-0 p-0 flex items-center justify-center font-nunito-sans bg-[rgb(51,102,153)];
}

.wrapper {
    @apply flex items-center justify-center h-[400px] w-[300px] rounded-[5px] bg-[#fff] shadow-[0_0_10px_#333] relative;
}

.wrapper form {
    @apply text-center leading-[4em] text-[deeppink] z-[1];
}

form h2 {
    @apply text-[30px];
}

form .box {
    @apply outline-none h-[40px] w-[80%] mb-[30px] py-0 px-[10px];
}

form .box:focus {
    border: 3px solid deeppink;
    transition: .3s ease-out;
}

form .box[type="email"]:focus ~ .line {
    height: 70px;
}

form .box[type="password"]:focus ~ .line {
    height: 170px;
}

form .btn {
    @apply h-[40px] w-[calc(85%+10px)] border-none outline-0 bg-[deeppink] rounded-[5px] text-[white] text-[18px] cursor-pointer hover:opacity-[.7];
}

.line {
    @apply absolute top-[125px] right-[30px] h-0 w-[5px] bg-[deeppink] z-[-1];
    transition: .3s ease-out;
}